.computer {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 67%;
  top: 55%;
  border: 15px solid rgb(24, 24, 24);
  border-image-slice: 1;
  background: radial-gradient(
    rgb(65, 65, 65),
    rgb(63, 63, 63),
    rgb(58, 58, 58),
    rgb(53, 53, 53)
  );
}

.computer .title {
  text-align: center;
  font-size: 18px;
  color: rgb(182, 180, 180);
}

.stage1 {
  margin-top: 25px;
  position: relative;
  left: 5%;
  background: linear-gradient(to bottom, #0c4b6d 5%, #03204b 100%);
  background-color: #167fb8;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 21px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #000000;
  border: 4px solid rgb(83, 83, 83);
  margin-bottom: 15px;

}
.stage1:hover {
  background: linear-gradient(to bottom, #042049 5%, #0d4c6e 100%);
  background-color: #043073;
}
.stage1:active {
  position: relative;
  top: 1px;
}

.stage2 {
  position: relative;
  left: 5%;
  background: linear-gradient(to bottom, #218314 5%, #0c5f05 100%);
  background-color: #195a09;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 21px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #000000;
  border: 4px solid rgb(83, 83, 83);
  margin-bottom: 15px;
}
.stage2:hover {
  background: linear-gradient(to bottom, #107507 5%, #208a12 100%);
  background-color: #f36404;
}
.stage2:active {
  position: relative;
  top: 1px;
}

.stage3 {
  position: relative;
  left: 5%;
  background: linear-gradient(to bottom, #911515 5%, #850606 100%);
  background-color: #850606;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 16px 21px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #000000;
  border: 4px solid rgb(83, 83, 83);
  margin-bottom: 15px;
}
.stage3:hover {
  background: linear-gradient(to bottom, #850606 5%, #911515 100%);
  background-color: #f30404;
}
.stage3:active {
  position: relative;
  top: 1px;
}
.lol{
  position: absolute;
  font-size: 20px;
  top:60px;
  color: rgb(185, 185, 185);
}
.lol2{
  position: absolute;
  top:195px;
  left:300px;
  color: rgb(238, 238, 238);
}
.Timerbtn {
  position: absolute;
  left:200px;
  top: 210px;
  background:linear-gradient(to bottom, rgb(22, 3, 131) 5%, rgb(2, 6, 66) 100%);
	border:4px solid rgb(83, 83, 83);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family:Arial;
  font-weight: bold;
	font-size:17px;
	padding: 13px 18px;
	text-decoration:none;

}
.Timerbtn:hover {
	background:linear-gradient(to bottom,  rgb(2, 6, 66) 5%, rgb(22, 3, 131) 100%);
}
.Timerbtn:active {
	position:absolute;
	top:211px;
}

        